.error404 {
    width: 100vw;
    height: 100vh;
  background-color: #141019;
  background: radial-gradient(at 50% -20%, #908392, #0d060e) fixed;
}
.con-404{
    margin-left: 200px;
}
#handboy {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 90% 90%;
  transform-box: fill-box;
}

#girllight {
  animation: swing ease-in-out 1.3s infinite alternate;
  transform-origin: 0% 97%;
  transform-box: fill-box;
}

#hairgirl {
  animation: swinghair ease-in-out 1.3s infinite alternate;
  transform-origin: 60% 0%;
  transform-box: fill-box;
}

#zero {
  transform-origin: bottom;
  transform-box: fill-box;
}

/*************swing************/
@keyframes swing {
  0% {
    transform: rotate(14deg);
  }
  100% {
    transform: rotate(-14deg);
  }
}

/*************swing hair************/
@keyframes swinghair {
  0% {
    transform: rotate(9deg);
  }
  100% {
    transform: rotate(-9deg);
  }
}
